.main__reset {
    width: 100%;
    margin: 7rem 0 5rem;
    padding: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-size: 0.875rem;
    margin: 1.25rem 0;
}

.form-reset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-reset-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.form-reset-label {
    margin: 0.3125rem 0;
    font-size: 0.8125rem;
    color: #434343;
}

.form-reset-input-name,
.form-reset-input-password {
    padding: 0.6875rem;
    width: 100%;
}

.form-reset input {
    border: 1px solid #cccccc;
}

.form-reset input::placeholder {
    color: #cccccc;
}

.form-reset a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.form-reset a:hover {
    color: #000;
    text-decoration: underline;
}

.password-icons-login {
    position: absolute;
    top: 47%;
    right: 1rem;
}

.login-btn {
    height: 35px;
    width: 100%;
    background-color: #9e7f54;
    border: transparent;
    margin-top: 20px;
    color: #FFFFFF;
}

.login-btn:hover {
    opacity: 0.9;
}

@media (min-width: 1024px) {
    .main__reset {
        padding: 7.35rem;
        width: 70%;
        margin: auto;
        margin-top: 8.7rem;
    }
}
