 /*colores principales por defecto*/
 :root{
    --PrimaryColor:  #9e7f54;
    --HoverColor:#e7ba7b;
    --paleGreen:hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --textColor:hsl(240,1%,48%);
    --bgColor:hsl(220,10%,94%);
    --greyText:rgb(190,190,190);
    --inputColor:hsl(330,12%,97%);

    /*Fuente y tipografia*/
    --biggestFontSize:2.5rem;
    --h1FontSize:1.5rem;
    --h2FontSize:1.25;
    --h3FontSize:1rem;
    --normalFontSize:.938rem;
    --smallFontSize:.813;
    --smallestFontSize:.75;
}
.sideBar{
    background: var(--whiteColor);
    box-shadow: 1px 0px 4px var(--greyText);
    max-width: 30%;
    width: 20%;
    height: 100%;
    gap: 3rem;
    overflow: auto;
    margin-top: 2rem;
}
.logoDiv{
    padding: 1.5rem 1.5rem 0;
    cursor: pointer;
    
    img{
        max-width: 50px;
        max-height: 50px;
        margin-right: 1.5rem;
        background: var(--inputColor);
        border-radius: 2px;
        padding: .2rem;
    }
     h2{
        font-size: var(--h2FontSize);
        color: var(--PrimaryColor);
    }
   

 
}
.menuDiv, .settingsDiv{
    .divTitle{
        font-family: var(--h3FontSize);
        color: var(--blackColor);
        padding: 0 1.5rem 1.5rem;
    }

    .menuLists{
        .listItem{
            padding: .5rem 1,5rem;
            width: 100%;
            position: relative;

            &::before{
                position: absolute;
                content: '';
                height: 0%;
                left: 0;
                width: 5px;
                border-top-right-radius: 10px;
                border-bottom-right-radius:10px;
                background: var(--PrimaryColor);
            }
            .menuLink{
                color: var(--greyText);
                font-weight: 500;

                .icon{
                    margin-right: .5rem;
                    margin-left: 1rem;
                }
            }

            &:hover .menuLink{
                color: var(--PrimaryColor);
                transition: 0;
            }
            &:hover::before{
                height: 100%;
                transform: .3s ease;
            }
        }

    }
}


.sideBarCard{
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;


    .icon{
        position: absolute;
        background-color: var(--HoverColor);
        border: 10px solid var(--whiteColor);
        font-size: 3rem;
        border-radius:50% ;
        top: -8%;
        right: 50%;
        transform: translate(50%);
        z-index: 100;
    }
    .cardContent{
        position: relative;
        padding: 1rem;
        background: var(--HoverColor);
        border-radius: 10px;
        overflow: hidden;
    }
    h3{
        font-size: var(--h3FontSize);
        margin-top: 1rem;
        padding: 1rem 0;
        font-weight: 800;
        color: var(--blackColor);
    }
    p{
        font-size: var(--normalFontSize);
        color: var(--textColor);
        padding-bottom:1rem ;
        font-weight: 500;
    }
    .btn{
        position: relative;
        color: var(--textColor);
        z-index: 1000;
    }
    .circle1,.circle2{
        position: absolute;
        background: var(--paleGreen);
        border-radius: 50%;
        opacity: .7;
    }
    .circle1{
        height: 100px;
        width: 100px;
        top: -50px;
        left: -50px;
    }
    .circle2{
        height: 150px;
        width: 150px;
        bottom: -80px;
        right: -70px;
        z-index: 1;
    }
}


@media screen and (max-width:820px) {
        .sideBar{
            padding-bottom: 2rem;
        

            .sideBarCard{
                display: none !important;
            }
        }

}

@media screen and (max-width:745px){
    .sideBar{
        .logoDiv{
            text-align: center;
            margin: auto;
            padding: 1.5rem 1.5rem 0;
        }

        img{
            max-width: 50px;
            margin: 0;
            border-radius: 10px;
            padding: .5rem;
        }
        h2{
            display: none;
        }
    }


   .menuDiv, .settingsDiv{
    .divTitle, .smallText{
        display: none;
    }
    .menuLists{
        .listItem{
            .menuLink{
                justify-content: center;
                .icon{
                    font-size: var(--h1FontSize);
                }
            }
        }
    }
   }
}

@media screen and (max-width:390px) {
    .sideBar{
        .menuDiv, .settingsDiv{
            .menuLists{
                .listItem{
                    padding: .2rem .5rem;


                    .menuLink{
                        justify-content: center;
                        .icon{
                            font-size: var(--h2FontSize);
                        }
                    }
                }


            }
        }
    }
    
}